<div class="footer" id="footer">
    <img src="https://static.dy208.cn/o_1dfilp8ruo521thr1hvf18ji17soa.png">
    <a href="http://www.lxyg06.com"  style="color:#f72b07" target="_blank">浙ICP备16032732号-1</a>
    <p>Copyright © <span id="date">2021</span> <a class="flink" href="https://github.com/mytun"><%= config.title %>.</a></p>
</div>
<%- js('libs/jquery.min.js') %>
<%- js('libs/highlight/highlight.pack.js') %>
<%- js('js/js.js') %>
<style type="text/css">
.v * {
    color: #698fca;
}

.v .vlist .vcard .vhead .vsys {
    color: #3a3e4a;
}

.v .vlist .vcard .vh .vmeta .vat {
    color: #638fd5;
}

.v .vlist .vcard .vhead .vnick {
    color: #6ba1ff;
}

.v a {
    color: #8696b1;
}

.v .vlist .vcard .vhead .vnick:hover {
    color: #669bfc;
}
</style>
